<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70638948-1"></script>
	<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);};gtag('js', new Date());</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FUTGAME</title>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="lib/tether/dist/css/tether.min.css" rel="stylesheet">
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Slackey" rel="stylesheet">
	<link href="content/css/styles.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="hero" ng-if="showHeroFlag"></div>		
		<nav class="navbar navbar-inverse" ng-class="showHeroFlag ? 'bg-transparent' : 'bg-turquoise'">
			<div class="container d-flex">
				<a class="navbar-brand" href="#!/" ng-show="!showHeroFlag">
					<img src="content/img/futgame_inverse_m.png" />
				</a>
			</div>
		</nav>
		<div class="jumbotron jumbotron-fluid mb-0" ng-if="showHeroFlag">
			<div class="container text-center">
				<img class="hero-brand" src="content/img/futgame_inverse_b.png" />
				<div class="hero-button">
					<a class="btn btn-lg btn-success" href="http://app.futgame.com">{{ 'BUTTON_PLAY_NOW' | translate }}</a>
				</div>
			</div>
		</div>
	</header>
	<div ng-view></div>
	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h4>{{ 'TITLE_WHAT_IS_FUTGAME' | translate }}</h4>
						<p>{{ 'TEXT_WHAT_IS_FUTGAME' | translate }}</p>
						
					</div>
					<div class="col-sm-2">
						<h4>{{ 'TITLE_MORE'  | translate }}</h4>
						<p><a href="#!/about">{{ 'LINK_ABOUT' | translate }}</a></p>
						<p><a href="#!/faq">{{ 'LINK_FAQ' | translate }}</a></p>
						<p><a href="#!/contact">{{ 'LINK_CONTACT' | translate }}</a></p>	
						<p></p>
						<p></p>
					</div>
					<div class="col-sm-2">
						<h4>{{ 'TITLE_FOLLOW_US'  | translate }}</h4>
						<p><a href="#!/"><i class="fa fa-facebook-square"></i> &nbsp; Facebook</a></p>
						<p><a href="#!/"><i class="fa fa-twitter-square"></i> &nbsp; Twitter</a></p>
					</div>
					<div class="col-sm-2">
						<h4>{{ 'TITLE_LANGUAGE'  | translate }}</h4>
						<p><a href="" ng-click="setLanguage('en')">English</a></p>
						<p><a href="" ng-click="setLanguage('es')">Español</a></p>
						<p><a href="" ng-click="setLanguage('pt-BR')">Português do Brasil</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 text-left">
						<small><b>&copy FUTGAME 2018</b></small> | <small><a href="#!/terms">{{ 'LINK_TERMS_OF_SERVICE' | translate }}</a></small> | <small><a href="#!/privacy">{{ 'LINK_PRIVACY_POLICY' | translate }}</a></small> | <small><a href="#!/cookie">{{ 'LINK_COOKIE_POLICY' | translate }}</a></small>
					</div>
					<div class="col-sm-4 text-right">
						<img src="content/img/futgame_s.png" />
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="loading" ng-show="showLoaderFlag"><img src="content/img/loading.gif" /></div>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/tether/dist/js/tether.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>	
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>
	<script src="lib/angular-resource/angular-resource.min.js"></script>
	<script src="lib/angular-translate/angular-translate.min.js"></script>
	<script src="lib/sweetalert2/dist/sweetalert2.min.js"></script>
	<script src="content/js/scripts.min.js"></script>
</body>
</html>